*.user

#build
[Oo]bj/
[Bb]in/
packages/

#vim
*~
*.swp
*.swo

#VS
*.csproj.user
.vs
.vscode

#ReSharper
*.DotSettings.user

#JetBrains
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/dictionaries
**/.idea/dictionaries

#Rider
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

